/* =============================================================================

    // APP CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Body Font Size =========================================================== */
html, body {font-size: 5vw;}
@media screen and (min-width:541px) {html, body {font-size: 3vw;}}
@media screen and (min-width:641px) {html, body {font-size: 2.5vw;}}
@media screen and (min-width:801px) {html, body {font-size: 2vw;}}
@media screen and (min-width:1025px) {html, body {font-size: 1.5vw;}}
@media screen and (min-width:1281px) {html, body {font-size: 1.3vw;}}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}

/* Imports ================================================================== */

/*Palette*/
/* =============================================================================

    // PALETTE CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Greyscale ================================================================ */

/* Custom Colours =========================================================== */

/*Typography*/
/* =============================================================================

    // TYPOGRAPHY CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Media Queries ============================================================ */

/* Google Fonts ============================================================= */

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Padding Variables ======================================================== */


/* Selection ================================================================ */
::-moz-selection {
    background: rgba(242, 169, 0, 1);
    color: rgba(250, 250, 250, 1);
}
::selection {
    background: rgba(242, 169, 0, 1);
    color: rgba(250, 250, 250, 1);
}

/* Headings ================================================================= */
h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.2rem;}
h6 {font-size: 1rem;}

h1, h2, h3, h4, h5, h6 {
    color: rgba(40, 40, 40, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 1rem 0

}

@media screen and (min-width: 801px) {
h1, h2, h3, h4, h5, h6 {margin: 2rem 0;}}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {margin: 0 0 1rem 0}

@media screen and (min-width: 801px) {
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {margin: 0 0 2rem 0;}}

/* Copy ===================================================================== */

/* Body Font */
p,
a,
strong,
em,
span,
blockquote {
    color: rgba(40, 40, 40, 1);
    font-family: 'Droid Serif', serif;
}

p {
    margin: 1rem 0

}

@media screen and (min-width: 801px) {
p {margin: 2rem 0;}}

hr {
    border: none;
    border-top: 1px solid rgba(242, 169, 0, 1);
    margin: 1rem 0

}

@media screen and (min-width: 801px) {
hr {margin: 2rem 0;}}

blockquote {
    border-left: .5rem solid rgba(233,136,0,1);
    margin: 1rem 0;
    padding: 0 2rem

}

@media screen and (min-width: 801px) {
blockquote {margin: 2rem 0;}}

/* Anchors */
a,
a:visited,
a:link {
    color: rgba(242, 169, 0, 1);
    font-size: 1rem;
    text-decoration: none;
    transition: all .3s ease

}
@media screen and (min-width: 801px) {
a:hover, a:visited:hover, a:link:hover {color: rgba(233,136,0,1);}}

/* Buttons ================================================================== */
.button,
.button:focus,
.button:active,
.button:link,
.button:visited {

}

/* Inputs =================================================================== */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: none;
    border: none;
    box-shadow: none;
}

/* Lists ==================================================================== */
ul {
    margin: 0 0 0 2rem;
    padding: 0

}
ul li {font-size: 1rem;}

dl {
    margin: 0;
    padding: 0

}

dl dt {display: none;}

dl dd {margin: 0;padding: 0;}

/* Tables =================================================================== */

/* Body ===================================================================== */
body {
    background: rgba(250, 250, 250, 1);
    max-width: 100%;
    overflow-x: hidden;
    width: 100vw

}
body.active {overflow: hidden;}

/* Navigation =============================================================== */
/* =============================================================================

    // NAVIGATION CSS
    // Property of the Swig
    // Authored by Josh Beveridge

============================================================================= */

/* Navigation =============================================================== */
nav {
    height: 11vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 100

}
@media screen and (min-width: 801px) {
nav {height: 100vh;width: 11vw;}}

/* Common Pane Styles ======================================================= */
[class*='pane'] {
    background: red;
    display: block;
    height: 100vh;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    width: 100vw

}
@media screen and (min-width: 801px) {
[class*='pane'] {height: 100vh;max-width: none;}}

/* Pane 01 ================================================================== */
.pane-01 {
    background: rgb(242,169,0);
    background: linear-gradient(to bottom,  rgba(242,169,0,1) 0%,rgba(233,136,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a900', endColorstr='#e98800',GradientType=0 );
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    transition: -webkit-transform .5s cubic-bezier(0.28, 0.18, 0, 1) .2s;
    transition: transform .5s cubic-bezier(0.28, 0.18, 0, 1) .2s

}
@media screen and (min-width: 801px) {
.pane-01 {-webkit-transform: translate(-89vw, 0);-ms-transform: translate(-89vw, 0);transform: translate(-89vw, 0);transition: -webkit-transform .6s cubic-bezier(0.28, 0.18, 0, 1);transition: transform .6s cubic-bezier(0.28, 0.18, 0, 1);}}
.pane-01.active {-webkit-transform: translate(0, -89vh);-ms-transform: translate(0, -89vh);transform: translate(0, -89vh);transition: -webkit-transform .5s cubic-bezier(0.28, 0.18, 0, 1);transition: transform .5s cubic-bezier(0.28, 0.18, 0, 1)}
@media screen and (min-width: 801px) {
.pane-01.active {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}}

/* Pane 02 ================================================================== */
.pane-02 {
    background: #282828;
    opacity: .5;
    -webkit-transform: translate(0, 10vh);
        -ms-transform: translate(0, 10vh);
            transform: translate(0, 10vh)

}
@media screen and (min-width: 801px) {
.pane-02 {-webkit-transform: translate(-99vw, 0);-ms-transform: translate(-99vw, 0);transform: translate(-99vw, 0);}}
.pane-02.active {-webkit-transform: translate(0, 0vh);-ms-transform: translate(0, 0vh);transform: translate(0, 0vh)}
@media screen and (min-width: 801px) {
.pane-02.active {-webkit-transform: translate(-89vw, 0);-ms-transform: translate(-89vw, 0);transform: translate(-89vw, 0);}}

/* Pane 03 ================================================================== */
.pane-03 {
    background: #282828;
    opacity: .5;
    -webkit-transform: translate(0, 11vh);
        -ms-transform: translate(0, 11vh);
            transform: translate(0, 11vh)

}
@media screen and (min-width: 801px) {
.pane-03 {-webkit-transform: translate(-100vw, 0);-ms-transform: translate(-100vw, 0);transform: translate(-100vw, 0);}}
.pane-03.active {-webkit-transform: translate(0, 10vh);-ms-transform: translate(0, 10vh);transform: translate(0, 10vh);transition: -webkit-transform .3s ease .2s;transition: transform .3s ease .2s}
@media screen and (min-width: 801px) {
.pane-03.active {-webkit-transform: translate(-99vw, 0);-ms-transform: translate(-99vw, 0);transform: translate(-99vw, 0);}}

/* Menu ===================================================================== */
.menu {
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%)

}
@media screen and (min-width: 801px) {
.menu {padding: 1rem 0 0 0;top: 0;left: 50%;-webkit-transform: translate(-40%, 0);-ms-transform: translate(-40%, 0);transform: translate(-40%, 0);}}
.menu dd {display: inline-block;margin: 0 1rem 0 0}
@media screen and (min-width: 801px) {
.menu dd {display: block;margin: 1rem 0;}}
.menu dd a {color: rgba(40, 40, 40, 1);font-family: 'Roboto Condensed', sans-serif;font-weight: 700;text-transform: uppercase}
.menu dd a.active {color: rgba(250, 250, 250, 1);}
@media screen and (min-width: 801px) {
.menu dd a:hover {color: rgba(250, 250, 250, 1);}}
.menu dd a span {color: rgba(250, 250, 250, 1);}

/* Menu Content ============================================================= */
.menu-content {
    height: 89vh;
    opacity: 0;
    overflow: auto;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 11vh);
        -ms-transform: translate(0, 11vh);
            transform: translate(0, 11vh);
    transition: -webkit-transform 0s ease .2s, opacity .2s ease;
    transition: transform 0s ease .2s, opacity .2s ease

}
@media screen and (min-width: 801px) {
.menu-content {height: auto;-webkit-transform: translate(-89vw, 0);-ms-transform: translate(-89vw, 0);transform: translate(-89vw, 0);width: 50vw;}}
.menu-content.active {opacity: 1;-webkit-transform: translate(0, -89vh);-ms-transform: translate(0, -89vh);transform: translate(0, -89vh);transition: -webkit-transform .3s ease .3s, opacity .5s ease .5s;transition: transform .3s ease .3s, opacity .5s ease .5s}
@media screen and (min-width: 801px) {
.menu-content.active {-webkit-transform: translate(30vw, 0);-ms-transform: translate(30vw, 0);transform: translate(30vw, 0);transition: -webkit-transform .5s ease .3s, opacity .7s ease .6s;transition: transform .5s ease .3s, opacity .7s ease .6s;}}

.heading-menu {
    font-size: 5rem;
    line-height: 1

}

.heading-menu span {color: rgba(250, 250, 250, 1);line-height: 1;}

/* Progress ================================================================= */
.progress {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 50

}
@media screen and (min-width: 801px) {
.progress {height: 90vh;top: 5vh;right: 5rem;width: .5rem;}}
.progress .value {background: rgba(242, 169, 0, 1);display: block;height: .5rem;transition: width .1s ease;width: 0}
@media screen and (min-width: 801px) {
.progress .value {height: 0;transition: height .1s ease;width: .5rem;}}

/* Article ================================================================== */
.page {
    margin: 0 0 11vh 0;
    max-width: 100%;
    padding: 2rem;
    position: relative;
    width: 100vw

}
@media screen and (min-width: 801px) {
.page {max-width: 89%;margin: 0;position: relative;left: 11vw;width: 89vw;}}
.page article {display: block;margin: 0 auto;max-width: 35rem;position: relative;z-index: 10;}

.heading-page {
    color: rgba(240, 240, 240, 1);
    font-size: 7.5rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: -1rem

}

@media screen and (min-width: 801px) {
.heading-page {font-size: 15rem;line-height: 1;left: 7rem;}}

/* Social =================================================================== */
.social {
    display: block;
    margin: 0 auto;
    max-width: 35rem;
    position: relative;
    text-align: center;
    z-index: 10

}
.social dd {display: block;margin: 1rem 0}
@media screen and (min-width: 701px) {
.social dd {display: inline-block;margin: 0 2rem 1rem 0;}}
@media screen and (min-width: 701px) {
.social dd:last-of-type {margin: 0 0 1rem 0;}}
.social dd i {color: rgba(40, 40, 40, 1);margin: 0 .5rem 0 0;}
